.aa {
  text-decoration: none;
  color: black;
}
.item {
  text-align: center;
  font-size: 20px;
  object-fit: cover;
}
.item:hover {
  padding-top: 0px;
  background-color: white;
  cursor: pointer;
}
h4 {
  margin: 0px;
}
.aa {
  text-align: center;
  font-size: 20px;
  object-fit: cover;
  text-decoration: none;
  color: black;
  padding-top: 35px;
  height: 40px;
}
.aa:hover {
  cursor: pointer;
  color: #5fc81e;
}
.contt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 5fr;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.h1 {
  color: #00e639;
  text-align: center;
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin-top: 10px;
}
.search {
  height: 50px;
  text-align: center;
  font-size: 25px;
}

* {
  font-family: "Poppins", sans-serif;
}
.bl {
  color: black;
  font-size: 35px;
}
.gr {
  color: #5fc81e;
  font-size: 45px;
}
.find {
  height: 40px;
  font-size: 15px;
  width: 300px;
  margin-top: 25px;
  margin-left: 150px;
}
.onto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 20px;
  color: #5fc81e;
  opacity: 0.9;
  width: 350px;
  background-color: black;
}
.search-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 5px;
}
.search-btn {
  height: 40px;
  width: 100px;
  margin-top: 25px;
  background-color: black;
  color: #5fc81e;
  font-size: 15px;
  text-decoration: bold;
  border-radius: 5px;
}
.search-btn:hover {
  cursor: pointer;
}
.current {
  cursor: pointer;
  color: #5fc81e;
}
.onto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 20px;
  color: #5fc81e;
  opacity: 0.9;
  width: 300px;
  background-color: black;
}
.linkss {
  position: relative;
  text-decoration: none;
  width: 300px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.1);
}
h2 {
  margin: 0px;
}
.main-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 2fr;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-top: 50px;
  width: 60%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 50px;
}
.imgg {
  width: 125px;
  height: 125px;
}
.track-order {
  text-decoration: none;
  color: blue;
}
.track-order:hover {
  color: black;
}
